.link-box {
  height: 56px;
  border-radius: 40px;
  color: #F2F2F3;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}

.link-box:last-child {
  margin-right: 0;
}

.link-box:hover{
  filter: brightness(1.5);
}
