.types {
  max-height: 716px;
  overflow: auto;
}

.list {
  margin: auto;
  max-width: 568px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: 32px 24px;
}

.types::-webkit-scrollbar {
  width: 8px;

}

.types::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  height: 492px;
}

.types::-webkit-scrollbar-track {
  background-color: #2F2F37;
}


